.container {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
    color: black;
  }
  .cell-1 {
    background: deepskyblue;
  }
  .cell-2 {
    background: orangered;
  }

  .cell-4 {
    background: gold;
  }
  .cell-5 {
    background: rgb(151, 100, 199);
    
  }
  .cell-6 {
    background: limegreen;
  }
  .cell-7 {
    background: coral;
  }
  .cell-8 {
    background: lightseagreen;
  }
  
  img {
    height: 500px;
    width: 550px;
  }